/* *{
    padding: 0px;
    margin: 0px;
} */

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

#board {
  display: flex;
  flex-direction: column;
}
.board_row {
  display: flex;
  flex-direction: row;
  /* height: 70px !important; */
}
.square {
  width: 70px;
  height: 70px;
  border: none;
}

.white_square {
  background-color: #eeeed2;
}

.black_square {
  background-color: #769656;
}

.img_cls {
  width: 65px;
  height: 65px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: black;
}
.transparent {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background-color: black;
}
